<h1>Please enter items into the shopping cart.</h1>
<form method="POST" action="/display_item">
  Team Name: <input type="text" name="team[name]"><br />
  Team Motto: <input type="text" name="team[motto]"><br />